body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(backr.png);
    color: white;
}
.g {
    border-radius: 10px;
}
#weather {
    font-size: 14px;
    margin-top: 5px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px;
    align-items: center;
}
.card {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-card {
    background-color: #4e568e;
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content {
    padding: 15px;
}
.card-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}
.card-desc {
    font-size: 14px;
    margin-bottom: 10px;
}
.card-distance {
    font-weight: bold;
    color: var(--green);
    margin-bottom: 12px;
}
.btn-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
button {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #4e568e;
    border: 4px solid #f54b64;
    color: white;
}
button:hover{
    background-color: #f54b64;
    border: 4px solid #f54b64;
}
.fav-btn {
    background: var(--green-light);
    color: white;
    font-size: larger;
}
.details {
    padding: 20px;
    background-color: #4e568e;
    border-radius: 10px;
}
.hidden {
    display: none;
    background-color: #4e568e;
}
header {
    background-color: #4e568e;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 2px;
}
.b2{
    width: 50px;
    height: auto;
}
.b2:hover {
    cursor: pointer;
}
footer {
    margin-top: 250px;
    background-color: #4e568e;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}