body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(bob.png);
    color: white;
}
header {
    background-image: url(backr_light.png);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 2px;
}
.b1 {
    background-color: #D0B5B6;
    border: 3px solid #B8D2D9;
    color: white;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
}
.b1:hover {
    background-color: #B8D2D9;
    border: 3px solid #B8D2D9;
    color: white;
}
footer {
    background-image: url(backr_light.png);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 2px;
}
.b2{
    width: 50px;
    height: auto;
}
.b2:hover {
    cursor: pointer;
}